<!DOCTYPE html>
<html>
<head>
    <title>ReadifyAI</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🧠 ReadifyAI</h1>

    <!-- Modes -->
    <div class="toggle">
        <button onclick="setMode('chat')" id="chatBtn">Chat</button>
        <button onclick="setMode('analyze')" id="analyzeBtn" class="active">Text</button>
        <button onclick="setMode('news')" id="newsBtn">News</button>
        <button onclick="setMode('ai_detection')" id="ai_detectionBtn">AI Detect</button>
        <button onclick="setMode('claim')" id="claimBtn">Claim</button>
    </div>

    <textarea id="input" placeholder="Enter your text..."></textarea>

    <button onclick="handleAction()" id="btn">Analyze</button>

    <div id="chatBox"></div>

    <div id="history"></div>
</div>

<script>

let mode = "analyze";

function setMode(m) {
    mode = m;

    document.getElementById("btn").innerText =
        (m === "chat") ? "Send" : "Analyze";

    // reset buttons
    document.querySelectorAll(".toggle button").forEach(btn => {
        btn.classList.remove("active");
    });

    document.getElementById(m + "Btn").classList.add("active");
}

function handleAction() {
    if (mode === "chat") sendMessage();
    else analyze();
}

function analyze() {
    let text = document.getElementById("input").value;

if (!text.trim()) {
    alert("Please enter text");
    return;
}
    let btn = document.getElementById("btn");
    btn.innerText = (mode === "chat") ? "Send" : "Analyze";
    btn.disabled = false;
    

    fetch("/analyze", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({
            text: text,
            mode: mode
        })
    })
    .then(res => res.json())
    .then(data => {
       document.getElementById("input").value = "";
       addMessage(text, "user");
       addMessage(data.result, "ai");
       

        btn.innerText = "Analyze";
        btn.disabled = false;

        saveHistory(text);
    })
    .catch(err => {
        console.log(err);
        btn.innerText = "Analyze";
        btn.disabled = false;
    });
}

function sendMessage() {
    let text = document.getElementById("input").value;
     if (!text.trim()) {
    alert("Please enter text");
    return;
}
    fetch("/chat", {
        method: "POST",
        headers: {"Content-Type": "application/json"},
        body: JSON.stringify({text: text})
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("input").value = "";
        addMessage(text, "user");
        addMessage(data.result, "ai");
        saveHistory(text);
    });
}

function addMessage(text, sender) {
    let chatBox = document.getElementById("chatBox");
    let message = document.createElement("div");
    message.className = "message " + sender;
    message.innerText = text;
    chatBox.appendChild(message);
    chatBox.scrollTo({
    top: chatBox.scrollHeight,
    behavior: "smooth"
});
}

function saveHistory(input) {
    let history = document.getElementById("history");

    let item = document.createElement("div");
    item.className = "history-item";
    item.innerText = "📝 " + input;

    history.prepend(item);
}
</script>

</body>
</html>
